@use 'variable' as v;

.con {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-attachment: fixed;
    width: 100%;

    .quiz {
        color: v.$black;
        width: 97%;
        max-width: 100rem;
        margin: 20px auto;
        padding: 20px 13px;
        border-radius: 11px;
        background: linear-gradient(rgba(255,255,255, 0.9), rgba(255,255,255, 0.9));

        @media (max-width: 450px) {
            padding: 10px 8px;
        }

       .questions {
        h1 {
            margin: 25px auto;
            letter-spacing: 1px;
            font-size: 2.15rem;
            font-size: clamp(1.12rem, 0.954rem + 1.329vw, 2.25rem);
            line-height: 1.5;
        }

        .answers {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;

            .ans-opt {
                width: 100%;
                max-width: 1100px;
                text-align: left;
                margin: 12px auto;
                padding: 14px 5px;
                font-family: sans-serif;
                font-size: 2rem;
                font-weight: 700;
                font-size: clamp(1rem, 0.768rem + 1.161vw, 1.9rem);
                border: none;
                border-radius: 8px;
                background: v.$Light-slate-blue;
                transition: .250s ease-in-out;
            }
            .ans-opt:hover:not([disabled]),
            .ans-opt:focus {
                background: v.$Persian-blue;
                scale: 1.02 ;
                color: #fff;
            }
            
            .ans-opt.correct {
                background: rgb(2, 148, 2);
                scale: 1.05;
                color: #fff;
            }
            .ans-opt.incorrct {
                background: rgb(242, 7, 7);
                scale: 0.951;
                color: #fff;
            }
            button:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }
        }
       }

       .center {
            text-align: center;
            margin: 10px auto;
            
            h2 {
                border-radius: 11px;
                display: inline-block;
                background: v.$Light-royal-blue;
                color: #fff;
                padding: 10px 15px;
                animation: color 2s ease-in infinite both;
            }
            @keyframes color {
                0% {
                    background: v.$Light-royal-blue;
                    scale: 1;
                }
                20% {
                    background: v.$Light-red;
                    scale: 1.02;
                }
            }
       }

       .question-option {
            background: #f3eaea;
            width: 100%;
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            justify-content: center;

            button {
                border-radius: 8px;
                color: #fff;
                margin: 10px 6px;
                border: none;
                background: v.$Persian-blue;
                padding: 11px 14px;
                transition: .200s ease-in;
                font-size: 2rem;
                font-size: clamp(0.888rem, 0.717rem + 0.855vw, 1.7rem);
            }
            button:hover,
            button:focus {
                background: v.$Cobalt-blue;
                color: orangered;
                scale: 1.10;
            }
             button.disable {
                background: #fff;
                cursor: no-drop;
            }
       }


    }


}

//js styles

.correct {
    background: green;
}

.incorrct {
    background: red;
}
 .disable {
    background: red;
}
.ans-opt:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}