@use 'variable' as v;

//index styles
.quiz-head {
    width: 100;
    height: auto;
    text-align: center;
    color: v.$black;
    width: 97%;
    max-width: 100rem;
    margin: 20px auto;
    padding: 20px 13px;
    border-radius: 11px;
    background: linear-gradient(rgba(255,255,255, 0.9), rgba(255,255,255, 0.9));

    h1 {
        font-size: 5rem;
        letter-spacing: .1em;
    }

    button {
        padding: 13px 26px;
        border: none;
        background: v.$Cobalt-blue;
        color: v.$White;
        border-radius: 12px;
        transition: .300s ease-in-out;
    }
    button:hover {
        cursor: pointer;
        background: v.$Light-royal-blue;
    }
}